.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.medium {
  fill: #a9a9a9;
}

.dark {
  fill: #787878;
}

svg {
  fill: #d1d1d1;
}

#arm {
  transform-origin: bottom right;
  animation: swing-arm 1s infinite alternate ease-in-out;
}

#loader {
  transform-origin: center center;
  animation: rotate-loader 0.9s steps(8) infinite;
}

@keyframes swing-arm {
  0% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(-9deg);
  }
}

@keyframes rotate-loader {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
