.container {
  max-width: 300px;
  margin: auto;
}

#detalhe-externo,
#circulo-verde,
#textos {
  transition: opacity 0.4s ease-in-out;
}

#inner_artwork {
  transition: fill 2s ease-in-out;
}

@media (max-width: 768px) {
  #detalhe-externo {
    opacity: 0;
  }
}

@media (max-width: 480px) {
  #circulo-verde,
  #textos {
    opacity: 0;
  }

  #inner_artwork {
    fill: #067655;
  }
}
